footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 9rem;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 9rem;
    justify-content: space-around;
    align-items: center;
    background-color: white;

}

.nav-link-container {
    display: flex;
    width: 100%;
    height: 9rem;
    justify-content: space-around;
    align-items: center;
    background-color: white;



}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid black;
    background-color: white;
    color: black;
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
}

@media screen and (min-width: 475px) {

    footer, .nav, .nav-link-container {
        height: 4rem;
    }

    .nav {
        flex-direction: row;
    }

    .nav-link {
        border-bottom: none;
    }

    .one, .two {
        border-right: 1px solid black;
    }

}