.description,
.name {
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.description,
.main-nav,
.name,
header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

}

* {
    box-sizing: border-box
}

body,
html {
    height: 100%
}

header {
    height: 60%;
}

.description,
.name,
.name-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
}


.main-nav {
    display: flex;
    width: 100%;
    height: 40%;
}

.link-container {
    display: flex;
    width: 50%;
    color: white;
}

body {
    background-image: url(../img/studio-session.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000
}

header {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.name {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2.5rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.description {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
    font-family: 'Rock Salt', cursive;
}

.email-button,
.nav-link {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.75rem;
}

.main-nav {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.link-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width:50%;
    height: 5rem;
    text-align: center;
    background-color: #333333;
    opacity: 1;
    margin-bottom: 1rem
}

.email-button,
.nav-link,
footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.nav-link {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 5rem;
    color: white;
}

footer {
    height: 4rem
}

.email-button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    background-color: #000
}

.fa-envelope-o {
    padding-left: 1rem
}

@media screen and (min-width:500px) {
    body {
        background-image: url(../img/studio-session-desktop.jpg)
    }
    .name {
        font-size: 3rem
    }
    .description {
        font-size: 1.5rem
    }
    .link-container {
        width: 80%
    }

    .main-nav {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width:900px) {
    .name {
        font-size: 4rem
    }
    .description {
        font-size: 2rem
    }
    .nav-link {
        font-size: 1.25rem
    }

    .link-container {
        width: 30%;
    }
}