html, body {
    height: 100%;
}

body {
    background-color: #000;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.title {
    font-family: 'Rock Salt', cursive;
    font-size: 1.25rem;
    height: 20%;
    color: #fff;
}

.category-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.category-one, .category-two {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem;
}

.category {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    text-align: center;
    background-color: #fff;
    color: black;
    font-family: 'Rock Salt', cursive;
}

.orchestration-list, .choral-list {
    display: none;
    flex-direction: column;
    width: 100%;
}

.orchestration-item, .choral-item {
    background-color: white;
    border-top: 1px solid black;
    height: 4rem;
    width: 100%;
}


@media screen and (min-width: 600px) {

    .title {
        font-size: 2rem;
    }

    .category {
        width: 100%;
    }

    .category-one, .category-two {
        width: 40%;
    }
}