* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #000;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    height: 5rem;
    color: #fff;
}

.category-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.category-one, .category-two {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem;
}

.category {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    text-align: center;
    background-color: #fff;
    color: black;
    font-family: 'Amiri', serif;
}

.category-title {
    font-size: 2rem;
    font-family: 'Amari', serif;
}

.orchestration-list, .choral-list {
    display: none;
    flex-direction: column;
    width: 100%;
}

.orchestration-item, .choral-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid black;
    height: 4rem;
    width: 100%;
    font-family: 'Amiri', serif;
}

.item {
    background-color: white;
}

.item-link {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    height: 4rem;
    padding: 0.5rem;
}

.main-margin-add {
    margin: 0 0 10rem 0;
}

@media screen and (min-width: 600px) {

    .title {
        font-size: 5rem;
    }

    .category {
        width: 100%;
    }

    .category-one, .category-two {
        width: 40%;
    }
}