* {
    box-sizing: border-box
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: black;
    align-items: center;
}

.review-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2rem;
}

h1, p {
    font-family: 'Amiri', serif;
    color: white;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

.profile-image {
    width: 300px;
    height: auto;
}

.signature {
    margin: 2rem;
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
}

.description {
    margin: 1rem;
}

@media screen and (min-width: 600px) {
    .profile-image {
        width: 500px;
    }
}

